body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "LuckiestGuy", sans-serif;
}

h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 32px;
}

canvas {
    background-color: black;
    z-index: 0;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    border-radius: 15px;
}

.game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

.background {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
}

.start-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("img/6.Botones/Start/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
}

.start-button:hover {
    background-image: url("img/6.Botones/Start/2.png");
}

.game-over-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.game-over {
    width: 400px;
    height: auto;
}

.restart-button {
    background-image: url("img/6.Botones/Try again/Recurso 16.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
}

.restart-button:hover {
    background-image: url("img/6.Botones/Try again/Recurso 17.png");
}

.you-win {
    width: 400px;
    height: auto;
}

.hidden {
    display: none;
}

.instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    z-index: 2;
}

.instructions-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #531a82;
    border: 2px solid #fff;
    color: #fff;
}

.instructions-button:hover {
    background-color: #7fffe0;
    color: #531a82;
}

/* Das Raster-Layout definieren */
.instruction-container {
    display: grid;
    grid-template-columns: 150px 1fr; /* Links fixe Bildbreite, rechts dynamischer Restplatz */
    gap: 20px; /* Abstand zwischen den Zeilen und Spalten */
    align-items: center; /* Zentriert Text vertikal passend zum Bild */
    max-width: 800px; /* Maximale Gesamtbreite der Liste */
    margin: 0 auto; /* Zentriert die gesamte Tabelle auf der Seite */
}

/* Bilder responsive machen */
.instruction-container .grid-item-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Optionale abgerundete Ecken für die Bilder */
}

/* Styling für den Textbereich */
.instruction-container .grid-item-text p {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}
