.shark {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "LuckiestGuy", sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0 15px;
    box-sizing: border-box;
    background-image: url("assets/img/general/background-image/1.jpg");
    background-size: cover;
    background-position: center;
}

.game-container__title {
    position: absolute;
    top: -98px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 48px;
    margin: 0;
    text-align: center;
    z-index: 2;
}

.game-container__canvas {
    background-color: black;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.game-container__start-button,
.game-container__restart-button,
.game-container__help-button,
.game-container__fullscreen-button,
.game-container__mute-button,
.game-container__mobile-btn {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    border-radius: 15px;
    font-family: inherit;
}

.game-container {
    position: relative;
    aspect-ratio: 3 / 2;
}

.game-container__help-overlay::-webkit-scrollbar {
    width: 10px;
}

.game-container__help-overlay::-webkit-scrollbar-track {
    background: transparent;
}

.game-container__help-overlay::-webkit-scrollbar-thumb {
    background: #531a82;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.game-container__help-overlay::-webkit-scrollbar-thumb:hover {
    background: #7fffe0;
}
