html:fullscreen .game-container {
    height: 100vh;
    width: calc(100vh * 3 / 2);
}

html:fullscreen .game-container .game-container__canvas {
    height: 100%;
    width: 100%;
}

.game-container__canvas {
    width: 100%;
    height: 100%;
}

.game-container--rotated {
    transform: rotate(90deg);
    width: 70vh !important;
    height: calc(70vh * 2 / 3) !important;
}
