html:fullscreen .game-container {
    width: min(100vw, calc(100vh * 2 / 3));
    height: min(100vh, calc(100vw * 3 / 2));
    margin-top: 0;
}

html:fullscreen .game-container .game-container__canvas {
    height: 100%;
    width: 100%;
}

.game-container__canvas {
    width: 100%;
    height: 100%;
}

.game-container--rotated {
    transform: rotate(90deg);
}
