.game-container__lock-screen {
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
}

.game-container__lock-screen-text {
    padding: 0 10px;
}

.game-container__start-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/img/overlay/start/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 28%;
}

.game-container__start-button:hover {
    background-image: url("../assets/img/overlay/start/2.png");
}

.game-container__end-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.game-container__game-over-image {
    width: 400px;
    height: auto;
}

.game-container__restart-button {
    background-image: url("../assets/img/overlay/try-again/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
}

.game-container__restart-button:hover {
    background-image: url("../assets/img/overlay/try-again/2.png");
}

.game-container__you-win-image {
    width: 400px;
    height: auto;
}

.game-container__help-button,
.game-container__fullscreen-button,
.game-container__mute-button {
    position: absolute;
    padding: 5px;
    background-color: #531a82;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    width: 80px;
}

.game-container__help-button {
    right: 10px;
    top: 10px;
}

.game-container__help-overlay {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
    background-color: rgba(39, 38, 71, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 62.5%;
    overflow: auto;
}

.game-container__help-row {
    display: flex;
    justify-content: center;
}

.game-container__help-keys {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.game-container__help-text {
    margin: 0;
    color: white;
    text-align: center;
}

.game-container__instruction-text {
    grid-column: 1 / -1;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.game-container__help-bubble-key {
    height: 40px;
    width: 40px;
}

.game-container__help-move-key {
    height: auto;
    width: 120px;
}

.game-container__help-attack-key {
    height: auto;
    width: 200px;
}

.game-container__fullscreen-button,
.game-container__mute-button {
    bottom: 10px;
}

.game-container__fullscreen-button {
    right: 10px;
}

.game-container__mute-button {
    left: 10px;
}

.game-container__help-button:hover,
.game-container__fullscreen-button:hover,
.game-container__mute-button:hover {
    background-color: #7fffe0;
    color: #531a82;
}

.game-container__mobile-controls {
    position: fixed;
    display: flex;
    width: 100vh;
    z-index: 10;
    justify-content: space-between;
    transform: rotate(90deg);
    pointer-events: none;
}

.game-container__mobile-btn {
    pointer-events: auto;
}

.game-container__mobile-action-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.game-container__mobile-movement-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80px;
    height: 80px;
    padding-left: 15px;
}

.triangle-down,
.triangle-up,
.triangle-left,
.triangle-right {
    background-color: #7fffe0;
}

.triangle-up {
    grid-column: 2;
    grid-row: 1;
}

.triangle-down {
    grid-column: 2;
    grid-row: 3;
}

.triangle-left {
    grid-column: 1;
    grid-row: 2;
}

.triangle-right {
    grid-column: 3;
    grid-row: 2;
}

.game-container__mobile-action-btn {
    color: #531a82;
    background-color: #7fffe0;
    padding: 2px;
}
