.game-container__start-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/img/overlay/start/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
}

.game-container__start-button:hover {
    background-image: url("../assets/img/overlay/start/2.png");
}

.game-container__end-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.game-container__game-over-image {
    width: 400px;
    height: auto;
}

.game-container__restart-button {
    background-image: url("../assets/img/overlay/try-again/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 200px;
}

.game-container__restart-button:hover {
    background-image: url("../assets/img/overlay/try-again/2.png");
}

.game-container__you-win-image {
    width: 400px;
    height: auto;
}

.hidden {
    display: none !important;
}

.game-container__help-button,
.game-container__fullscreen-button,
.game-container__mute-button {
    position: absolute;
    padding: 5px;
    background-color: #531a82;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    width: 80px;
}

.game-container__help-button {
    right: 10px;
    top: 10px;
}

.game-container__help-overlay {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    max-width: 420px;
    background-color: rgba(39, 38, 71, 0.8);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.game-container__help-overlay div {
    display: flex;
    justify-content: center;
}

.game-container__help-text {
    margin: 0;
    color: white;
    text-align: center;
}

.game-container__help-bubble-key {
    height: 40px;
    width: 40px;
}

.game-container__help-move-key {
    height: auto;
    width: 120px;
}

.game-container__help-attack-key {
    height: auto;
    width: 200px;
}

.game-container__fullscreen-button,
.game-container__mute-button {
    bottom: 10px;
}

.game-container__fullscreen-button {
    right: 10px;
}

.game-container__mute-button {
    left: 10px;
}

.game-container__help-button:hover,
.game-container__fullscreen-button:hover,
.game-container__mute-button:hover {
    background-color: #7fffe0;
    color: #531a82;
}
