@media (max-width: 480px) {
    .game-container__game-over-image {
        width: 300px;
    }

    .game-container__restart-button {
        height: 80px;
        width: 160px;
    }

    .game-container__mute-button,
    .game-container__fullscreen-button,
    .game-container__help-button {
        font-size: 10px;
        padding: 2.5px 5px;
        border: 1px solid white;
    }

    .game-container__mute-button,
    .game-container__fullscreen-button,
    .game-container__help-button {
        width: 60px;
    }
}
